apiVersion: v1
kind: Service
metadata:
  name: argocd-notifications-bot
spec:
  ports:
    - name: server
      protocol: TCP
      port: 80
      targetPort: 8080
  selector:
    app.kubernetes.io/name: argocd-notifications-bot
  type: LoadBalancer